<!DOCTYPE html>
<html>
  <head>
    <title>Random Dog Images</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  </head>

  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <h2>Random Dog Image</h2>
    </header>
    <ul>
      <a href="/">
        <li tabindex="0" class="icon-dashboard"><span>Breed List</span></li>
      </a>
      <a href="/any">
        <li tabindex="0" class="icon-dog"><span>Random Dog</span></li>
      </a>
      <li><form action="/search">
        <label for="breed">
          Search By Breed
        </label>
        <input id="breed" name="breed" text="text" placeholder="breed sub-breed">
        <button>
          Go!
        </button>
      </form></li>
    </ul>
  </nav>

  <main>
    <div class="helper">
      <%= yield %>
    </div>
  </main>

</html>
